In [36]:
import os

# Replace this with the full path to your project folder
project_path = '/Users/smarr/Documents/Data Sets/Unicorn Companies/Unicorn+Companies'

# Change working directory
os.chdir(project_path)

# Confirm
print("Now working in:", os.getcwd())

Now working in: /Users/smarr/Documents/Data Sets/Unicorn Companies/Unicorn+Companies

In [37]:
## Importing File into MySQL

import pandas as pd
from sqlalchemy import create_engine

host = 'localhost'
user = 'smarr'
password = 'Geaudise_0059' 
database = 'Unicorn_Companies'

# Connect to MySQL using SQLAlchemy
engine = create_engine('mysql+pymysql://root:Geaudise_0059@localhost/Unicorn_Companies')

# Load CSV into DataFrame
df = pd.read_csv('UnicornCompanyData.csv')

# Push data to SQL (will replace table if it exists)
df.to_sql('unicorns', con=engine, if_exists='replace', index=False)

1074

In [48]:
## Creating a new table titled Company-investor-table containing the list of companies and the name of investors who invested in them
## Essential for SQL queries analyzing the number of investors in each company and the success of the investors in generating outsized valuations
df_investors = df[['Company', 'Select Investors']].dropna()

In [49]:
df_investors['Select Investors'] = df_investors['Select Investors'].str.split(',')

In [ ]:
df_investors

In [39]:
# Will split the investors into lists and explode them into separate rows
df_exploded = df_investors.assign(
    Investor=df_investors['Select Investors'].str.split(',')
).explode('Investor')

In [40]:
# Cleaning whitespace and ensure all values are strings
df_exploded['Investor'] = df_exploded['Investor'].astype(str).str.strip()

In [51]:
df_exploded = df_investors.explode('Select Investors')

In [52]:
df_exploded

        Company          Select Investors
0     Bytedance     Sequoia Capital China
0     Bytedance      SIG Asia Investments
0     Bytedance                Sina Weibo
0     Bytedance            Softbank Group
1        SpaceX             Founders Fund
...         ...                       ...
1072       Zopa         Augmentum Fintech
1072       Zopa        Northzone Ventures
1073      Zwift          Novator Partners
1073      Zwift                      True
1073      Zwift   Causeway Media Partners

[3053 rows x 2 columns]

In [41]:
# Dropping the original 'Select Investors' column
df_exploded = df_exploded.drop(columns=['Select Investors'])

In [53]:
df_exploded['Investor'] = df_exploded['Select Investors'].astype(str).str.strip()
df_exploded = df_exploded[df_exploded['Investor'].notnull() & (df_exploded['Investor'] != '')]

In [54]:
df_exploded = df_exploded[['Company', 'Investor']]

In [55]:
df_exploded

        Company                 Investor
0     Bytedance    Sequoia Capital China
0     Bytedance     SIG Asia Investments
0     Bytedance               Sina Weibo
0     Bytedance           Softbank Group
1        SpaceX            Founders Fund
...         ...                      ...
1072       Zopa        Augmentum Fintech
1072       Zopa       Northzone Ventures
1073      Zwift         Novator Partners
1073      Zwift                     True
1073      Zwift  Causeway Media Partners

[3051 rows x 2 columns]

In [57]:
# Save to CSV which we will import into SQL
df_exploded.to_csv("company_investors_clean.csv", index=False)

In [59]:
# Import to MySQL
df_exploded.to_sql('CompanyInvestor', con=engine, if_exists='replace', index=False)

3051